body {
    margin: 20px;
}

.rectangle-task-four {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.dropdown-container {
    display: flex;
    gap: 10px;
}

.coloredBox {
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.dropdown-menu.block {
    opacity: 1;
    display: block;
}

.dropdown-menu.none {
    opacity: 0;
    display: none;
}

/* PAGE TWO */

.container-page-two, .container-page-three {
    margin-top: 50px;
}

.container-task-six, .box-task-ten, .task-ten-container {
    border: 1px solid black;
    padding: 10px;
}

/* PAGE THREE */

.container-task-8, .container-task-9 {
    display: flex;
    gap: 10px;
}

.task-ten-container {
    position: relative;
    height: 200px;
}

/*.box-task10 {*/
/*    position: relative;*/
/*    float: right;*/
/*}*/

.button-task10 {
    position: absolute;
    bottom: 5%;
    left: 2%;
}