body {
    margin: 20px;
}

.rectangle-task-four {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.dropdown-container {
    display: flex;
    gap: 10px;
}

.coloredBox {
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.dropdown-menu.block {
    opacity: 1;
    display: block;
}

.dropdown-menu.none {
    opacity: 0;
    display: none;
}

/* PAGE TWO */

.container-page-two {
    margin-top: 50px;
}

.container-task-six {
    border: 1px solid black;
    padding: 10px;
}